#map {
	background-color:#992288;
	height: 400px;
	width: 48%


}

@media screen and (max-width: 1000px) {
	#map {
		width: 94%
	}

}

.submit-buttons {
	text-align: right;
	padding-bottom: 10px;
	padding-right: 10px;
}

.main-title {
	padding-left: 20px;
        font-size: 35px;
}

.main-entry {
    padding-left: 20px
    font-size: 35px;
    width = 100%;
}

.important {
	color:red;
}

.container {
	margin: 3%;
}

nav {
	padding-top: 10px;
	padding-bottom: 10px;
}

input {
	width: 780px;
}

@media screen and (max-width: 1000px) {
	input {
		width: 75%
	}
}

.form-group {
    font-size: 30px;
    width: 100%;
}

.form-control {
    font-size: 25px;
    width: 100%;
}

.ending {
	padding-left: 20px;
}
