<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Foodfinder</title>

    <!-- Bootstrap -->
    <link href="../static/bootstrap.min.css" rel="stylesheet">
    <link href="../static/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Foodfinder</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" onclick="autopopulatePost()">
                Post your food event
              </button>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    

    <!-- Modal for posting food -->
    <div id="main">
      <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Post your food event</h4>
            </div>
            <div class="modal-body">
              <form id="postform">
                <div class="form-group">
                  <label for="provider"><span style = "color: red">*</span>Title:</label>
                  <input type="text" class="form-control" id="provider" placeholder="Club's general interest meeting">
                </div>
                <div class="form-group">
                  <label for="location"><span style = "color: red">*</span>Location:</label>
                  <input type="text" class="form-control" id="location" placeholder="160 College Ave, Medford MA">
                  <button id="locate" type="button" class="btn btn-default" aria-label="Find me!"> Find me!</button> <br/> <br/>
                  <label for="locdesc">Help someone find it:</label>
                  <input type="text" class="form-control" id="locdesc" placeholder="In Room 123">
                </div>
                <div class="form-group">
                  <label for="food"><span style = "color: red">*</span>Date:</label>
                  <input type="text" class="form-control" id="date" placeholder="MM/DD/YYYY">
                </div>             
                <div class="form-group">
                  <label for="starttime"><span class="important">*</span>Start:</label>
                  <input type="text" class="form-control" id="starttime" placeholder="0:00pm">
                </div>
                <div class="form-group">
                  <label for="endtime">End:</labeL>
                  <input type="text" class="form-control" id="endtime" placeholder="0:00pm">
                </div>
                <div class="form-group">
                  <label for="food">Desciption:</label>
                  <input type="text" class="form-control" id="food" placeholder="Free food at general interest meeting">
                </div>
                <small><span style = "color: red">*</span>: This field is required</small>
                </div>
                <div class="submit-buttons">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                  <button type="button" class="btn btn-primary">Submit</button>
                </div>
              </form>
              <!--<div id="formmap" class="map"></div>-->
            </div>
          </div>
        </div>
      </div>

      <!-- Search bar -->
      <form id="searchform">
        <div class="main-title">
            Find food near you <br />
          <input type="text" class="main-entry" id="userloc" placeholder="160 College Ave, Medford MA">
          <button id="findfood" type="button" class="btn btn-lg" aria-label="Find food!"> Go!</button>

        </div>
      </form>

      <!-- Map -->
      <div id="map" class="map col-md-12 container"></div>

      <!-- List -->
      <div class="container">
        <h2>Closest food events to you</h2>
        <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Title</th>
              <th>Description</th>
              <th>Start Time</th>
              <th>End Time</th>
              <th>Distance (miles)</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        </div>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../static/bootstrap.min.js"></script>
    <script type="text/javascript">
		function autopopulatePost() {
			var today = new Date();
			var dd = today.getDate();
			var mm = today.getMonth()+1; //January is 0!

			var yyyy = today.getFullYear();
			if(dd<10){
				dd='0'+dd;
			} 
			if(mm<10){
				mm='0'+mm;
			} 
			var date = mm+'/'+dd+'/'+yyyy;
			document.getElementById("date").value = date;
			
			var hh = today.getHours();
			var mn = today.getMinutes();
			var endhh = hh + 1;
			if(endhh>23) {
				endhh = 0;
			}
			if(hh<10){
				hh='0'+hh;
			}
			if(mn<10){
				mn='0'+mn;
			}
			if(endhh<10){
				endhh='0'+endhh;
			}
			var starttime = hh+":"+mn;
			var endtime = endhh+":"+mn;
			document.getElementById("starttime").value = starttime;
			document.getElementById("endtime").value = endtime;
			
			if(navigator.geolocation){
					navigator.geolocation.getCurrentPosition(
							function(position){
									document.getElementById("location").value=position.coords.latitude+","+position.coords.longitude;
							});
			}
			else{
					alert("No Geolocation So fuck you");
			}
			
		}
    </script>
  </body>
</html>
